In [3]:
import pandas as pd

In [4]:
file = r"C:\Users\lenpk\OneDrive\Desktop\python_challenge\resources\election_data_poll.csv"
elections = pd.read_csv(file)
elections.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
# Total number of votes cast

In [6]:
total_votes = len(elections)

In [5]:
# List of candidates

In [7]:
candidates = elections['Candidate'].unique()

In [10]:
# Total votes per candidate

In [8]:
total_candidate = elections['Candidate'].value_counts()

In [16]:
# Vote percentage per candidate

In [9]:
percentage_total = total_candidate / total_votes * 100

In [8]:
# Winner of election based on popular vote

In [10]:
winner = total_candidate.max()

In [17]:
election_results = pd.DataFrame({'Candidates' : candidates,
                                 'Vote Percentages %': percentage_total})

In [12]:
print(f"The Winner is Khan with {winner} votes")

The Winner is Khan with 2218231 votes

In [18]:
election_results.to_csv(r"C:\Users\lenpk\OneDrive\Desktop\python_challenge\resources\election_solved.csv", index=False, header=True)