In [2]:
import pandas as pd

In [3]:
file = r"C:\Users\lenpk\OneDrive\Desktop\python_challenge\resources\election_data_poll.csv"
elections = pd.read_csv(file)
elections.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
# Total number of votes cast

In [4]:
total_votes = len(elections)
total_votes

3521001

In [5]:
# List of candidates

In [6]:
candidates = elections['Candidate'].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [10]:
# Total votes per candidate

In [7]:
total_candidate = elections['Candidate'].value_counts()
total_candidate

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [16]:
# Vote percentage per candidate

In [55]:
percentage_total = total_candidate / total_votes * 100
percentage_total

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [8]:
# Winner of election based on popular vote

In [51]:
winner = total_candidate.max()
winner

2218231

In [56]:
election_results = pd.DataFrame({'Vote Percentages': percentage_total})
election_results

          Vote Percentages
Khan             63.000011
Correy           19.999994
Li               13.999996
O'Tooley          2.999999

In [49]:
print(f"The Winner is Khan with {winner:.2f}% of the votes")

The Winner is Khan with 2218231.00% of the votes