In [1]:
# Import modules

In [2]:
import pandas as pd

In [4]:
path = r"C:\Users\lenpk\OneDrive\Desktop\python_challenge\resources\budget_data_bank.csv"
budget = pd.read_csv(path)
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
# Total number of months

In [8]:
num_months = len(budget)
num_months

86

In [9]:
# Total profit/loss for the entire period

In [10]:
total_gain = budget['Profit/Losses'].sum()
total_gain

38382578

In [11]:
# Average profit/loss for the entire period

In [20]:
average_change = budget['Profit/Losses'].diff().mean()
average_change

-2315.1176470588234

In [24]:
# Greatest increase in profits

In [25]:
greatest_profit = budget['Profit/Losses'].diff().max()
greatest_profit

1926159.0

In [26]:
# Greatest decrease in losses
greatest_losses = budget['Profit/Losses'].min()
greatest_losses

-1196225