In [38]:
import pandas as pd
import numpy as np
import re

In [29]:
file = "PyBoss/employee_data.csv"

In [37]:
employee = pd.read_csv(file, parse_dates=['DOB'], encoding='ISO-8859-1')
employee.head()

FileNotFoundError: [Errno 2] No such file or directory: 'PyBoss/employee_data.csv'

In [260]:
name_split = employee['Name'].str.split(expand=True)

In [261]:
name_split.head()

         0          1
0     John    Mathews
1   Nathan      Moore
2   Amanda    Douglas
3  Heather    Andrews
4   Daniel  Hernandez

In [262]:
first_name = name_split[0]

In [263]:
last_name = name_split[1]

In [264]:
dob = employee['DOB'].dt.strftime('%m/%d/%Y')

In [265]:
ssn = employee['SSN'].str.split('-', expand=True)

In [266]:
ssn.head()

     0   1     2
0  289  31  9165
1  220  05  7469
2  564  27  6961
3  742  79  1797
4  656  01  7473

In [267]:
regex = r'\d{3}\W\d{2}'

In [268]:
employee['SSN'] = [re.sub(regex, '***-**', x) for x in employee['SSN']]

In [269]:
employee['SSN'].head()

0    ***-**-9165
1    ***-**-7469
2    ***-**-6961
3    ***-**-1797
4    ***-**-7473
Name: SSN, dtype: object

In [173]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [270]:
employee['State'] = employee['State'].map(us_state_abbrev)
employee

     Emp ID              Name        DOB          SSN State
0       232      John Mathews 1991-02-24  ***-**-9165    ND
1       533      Nathan Moore 1978-11-19  ***-**-7469    ME
2       256    Amanda Douglas 1990-01-08  ***-**-6961    ID
3       189   Heather Andrews 1976-08-11  ***-**-1797    VT
4       284  Daniel Hernandez 1976-07-22  ***-**-7473    CO
..      ...               ...        ...          ...   ...
645     235  Cameron Mcintosh 1975-02-01  ***-**-8921    NV
646      21   Michelle Brewer 1988-06-10  ***-**-6836    OK
647     362      Hannah Nolan 1978-09-15  ***-**-1332    OK
648     368     Erica Johnson 1978-05-27  ***-**-9413    LA
649     323     Jeremy Obrien 1982-01-13  ***-**-7592    OR

[650 rows x 5 columns]

In [271]:
employee['State'].unique()

array(['ND', 'ME', 'ID', 'VT', 'CO', 'MN', 'AR', 'CA', 'TN', 'OR', 'MD',
       'MA', 'KY', 'LA', 'RI', 'MT', 'PA', 'AL', 'VA', 'SD', 'UT', 'WY',
       'WI', 'NM', 'NC', 'SC', 'MI', 'CT', 'HI', 'KS', 'NY', 'MO', 'MS',
       'WA', 'TX', 'AK', 'FL', 'NE', 'DE', 'IL', 'OH', 'WV', 'NH', 'NJ',
       'IA', 'GA', 'NV', 'AZ', 'OK', 'IN'], dtype=object)